<div id="food-table">
  <div id="food-table-left">
    <div class="stretcher">
      <div  class="meal-wrapper"
            ng-repeat="meal in data"
            ng-class="{empty: meal.children.length == 0}">
        <div class="meal">
          <button type="button"><i class="fa fa-chevron-right"></i></button>
          <span>{{ meal.name }}</span>
        </div>
        <div class="contents">
          <div ng-repeat="child in meal.children">

            <div  ng-if="child.type == 'food'"
                  class="food-wrapper"
                  ng-class="{empty: child.children.length == 0}">
              <div class="food">
                <button type="button"><i class="fa fa-chevron-right"></i></button>
                <span>{{ child.name }}</span>
              </div>
              <div class="contents">

                <div  ng-repeat="ingrChild in child.children"
                      class="ingr">
                  <span class="name">{{ ingrChild.name }}</span>
                  <div>
                    <span class="brand">{{ ingrChild.brand }}</span>
                    <span class="servings">{{ ingrChild.servings }}</span>
                  </div>
                </div>
              </div>
            </div>

            <div  ng-if="child.type == 'ingr'"
                  class="ingr">
              <span class="name">{{ child.name }}</span>
              <div>
                <span class="brand">{{ child.brand }}</span>
                <span class="servings">{{ child.servings }}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="food-table-right">
    <div class="stretcher">
      <div  class="meal-wrapper"
            ng-repeat="meal in data"
            ng-class="{empty: meal.children.length == 0}">
        <div class="meal">
          <div ng-repeat="val in meal.nutrition">{{ val }}</div>
        </div>
        <div class="contents">
          <div ng-repeat="child in meal.children">
            <div  ng-if="child.type == 'food'"
                  class="food-wrapper"
                  ng-class="{empty: child.children.length == 0}">
              <div class="food">
                <div ng-repeat="val in child.nutrition">{{ val }}</div>
              </div>
              <div class="contents">
                <div  ng-repeat="ingrObj in child.children"
                      class="ingr">
                  <div ng-repeat="val in ingrObj.nutrition">{{ val }}</div>
                </div>
              </div>
            </div>
            <div  ng-if="child.type == 'ingr'"
                  class="ingr">
              <div ng-repeat="val in child.nutrition">{{ val }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>