//colors
$topbar-background:     $white;
$topbar-color:          $topbar-text-color;

//sizes
$topbar-height-small:   45px;
$topbar-height-medium:  60px;
$topbar-height-large:   80px;

//border
$topbar-border-color:   $topbar-border-grey;

$topbar-btn-border-width-small: 0;
$topbar-btn-border-width-medium: 1px;
$topbar-btn-border-width-large: 2px;
$topbar-border-width-small: 1px;
$topbar-border-width-medium: 1px;


//font
$topbar-font-size-small: 21px;

//specialty
$topbar-box-shadow:     0 0 2px $topbar-border-grey;