$red:                 #ED5565;
$red-dark:            #DA4453;
$orange:              #FC6E51;
$orange-dark:         #E9573F;
$yellow:              #FFCE54;
$yellow-dark:         #F6BB42;
$green:               #A0D468;
$green-dark:          #8CC152;
$mint:                #48CFAD;
$mint-dark:           #37BC9B;
$aqua:                #4FC1E9;
$aqua-dark:           #3BAFDA;
$blue:                #5D9CEC;
$blue-dark:           #4A89DC;
$purple:              #AC92EC;
$purple-dark:         #967ADC;
$pink:                #EC87C0;
$pink-dark:           #D770AD;
//$grey-very-light:     #f5f7fa;
$grey-light:          #AAB2BD;
$grey:                #CCD1D9;
$grey-dark:           #AAB2BD;
$grey-very-dark:      #656D78;
$grey-darkest:        #434A54;
$white:               #FFF;

//probably set foods to #D2E3FF



$light-blue-background:   #ecf2f6;


$topbar-border-grey:      #eeeff3;
$topbar-text-color:       #9ba3af;

$sidenav-background:      #354052;
$sidenav-name-text:       #c9d0dd;
$sidenav-links:           #a0acbf;
$sidenav-labels:          #65748d;
$sidenav-dark-border:     #2b3544;
$sidenav-active-bg:       #2f3949;
$sidenav-active-border:   #15a4fa;  //subnav border also, small header link color also

$subnav-link-active:      #4e515e;
$subnav-link:             #8a95a5;  //small header also

$panel-bold-text-color:   #7989a0;  //non-panel-normal-color
$panel-normal-text-color: #596679;  //Non-panel-bold-header