$medium-up: 641px;
$large-up: 1025px;
$xlarge-up: 1441px;

$num-columns-small: 4;
$num-columns-medium: 8;
$num-columns-large: 12;
$num-columns-xlarge: 12;
$num-columns-xxlarge: 12;

$grid-gutters-small: 20px;
$grid-gutters-medium: 25px;
$grid-gutters-large: 52px;
$grid-gutters-xlarge: 52px;