#subNav {
  border-bottom: 1px solid $topbar-border-grey;
  background: $white;
  .menu {
    margin:0;
    padding:0;
    list-style-type:none;
    font-size:14px;
    font-weight:bold;
    clear:both;
    li {
      display:inline-block;
      margin-right:36px;
    }
    a {
      color: $subnav-link;
      display: block;
      height: $topbar-height-small;
      line-height: $topbar-height-small;
      &:hover {
        color: $subnav-link-active;
      }
    }
    .active {
      color: $subnav-link-active;
      border-bottom: 3px solid #15a4fa;
      cursor:default;
    }
  }
}