.pusher, .menu-open .pusher,
.nav, .menu-open .nav {
  -webkit-transition: initial;
  transition: initial;
  -webkit-transform: initial;
  transform: initial;
}

.main-content {
  margin-left: 250px;
  padding-bottom:0;
  padding-top:0;
}

.menu-open #closeNavOverlay {
  display:none;
}