<action-bar></action-bar>
<sub-nav></sub-nav>
<h3>Button element</h3>
<button type="button">Default</button>
<button type="button" class="red">Red</button>
<button type="button" class="orange">Orange</button>
<button type="button" class="yellow">Yellow</button>
<button type="button" class="green">Green</button>
<button type="button" class="mint">Mint</button>
<button type="button" class="aqua">Aqua</button>
<button type="button" class="blue">Blue</button>
<button type="button" class="purple">Purple</button>
<button type="button" class="pink">Pink</button>
<button type="button" class="grey">Grey</button>
<button type="button" class="disabled">Disabled</button>
<button type="button" disabled>Disabled</button>
<button type="button" class="active">Active</button>
<button type="button"><i class="fa fa-home"></i></button>
<button type="button"><i class="fa fa-home"></i><span>Icon</span></button>
<button type="button"><span>Icon</span><i class="fa fa-home"></i></button>
<hr/>
<h3>Anchor element</h3>
<a href="#" class="btn">Default</a>
<a href="#" class="btn red">Red</a>
<a href="#" class="btn orange">Orange</a>
<a href="#" class="btn yellow">Yellow</a>
<a href="#" class="btn green">Green</a>
<a href="#" class="btn mint">Mint</a>
<a href="#" class="btn aqua">Aqua</a>
<a href="#" class="btn blue">Blue</a>
<a href="#" class="btn purple">Purple</a>
<a href="#" class="btn pink">Pink</a>
<a href="#" class="btn grey">Grey</a>
<a href="#" class="btn disabled">Disabled</a>
<a href="#" class="btn active">Active</a>
<a href="#" class="btn"><i class="fa fa-home"></i></a>
<a href="#" class="btn"><i class="fa fa-home"></i><span>Icon</span></a>
<a href="#" class="btn"><span>Icon</span><i class="fa fa-home"></i></a>
<hr/>
<h3>Input element</h3>
<input type="submit" value="Default"/>
<input type="submit" class="red" value="Red"/>
<input type="submit" class="orange" value="Orange"/>
<input type="submit" class="yellow" value="Yellow"/>
<input type="submit" class="green" value="Green"/>
<input type="submit" class="mint" value="Mint"/>
<input type="submit" class="aqua" value="Aqua"/>
<input type="submit" class="blue" value="Blue"/>
<input type="submit" class="purple" value="Purple"/>
<input type="submit" class="pink" value="Pink"/>
<input type="submit" class="grey" value="Grey"/>
<input type="submit" class="disabled" value="disabled"/>
<input type="submit" value="disabled" disabled />
<input type="submit" class="active" value="Active"/>
<hr/>
<h3>Dropdowns</h3>
<button class="btn" type="button" data-trigger="click" data-type="success" title="{{coolTest.title}}" bs-tooltip="tooltip">Click me</button>
<button class="btn" type="button"
        bs-popover="popoverTest"
        data-animation="am-flip-x"
        data-placement="bottom"
        data-trigger="click">
  <span>Click me pt 2</span>
</button>
<input type="text" class="form-control"
       ng-model="billysBirthday"
       data-date-format="yyyy-MM-dd"
       data-date-type="number"
       data-min-date="02/10/86"
       data-max-date="today"
       data-autoclose="1"
       name="date2" bs-datepicker>
<button class="btn" type="button"
        bs-datepicker
        ng-model="billysBirthday"
        data-autoclose="1"
        data-trigger="click"
        data-animation="am-flip-x"
        name="date1">
  <span>Click me pt 2</span>
</button>
<!--<button type="button" class="red dropdown"><span>Dropdown</span><i class="fa fa-caret-down"></i><ul><li>Test</li><li>Test</li></ul></button>
<button type="button" class="orange dropdown"><span>Dropdown</span><i class="fa fa-caret-down"></i><ul><li>Test</li><li>Test</li></ul></button>
<button type="button" class="yellow dropdown"><span>Dropdown</span><i class="fa fa-caret-down"></i><ul><li>Test</li><li>Test</li></ul></button>
<button type="button" class="green dropdown"><span>Dropdown</span><i class="fa fa-caret-down"></i><ul><li>Test</li><li>Test</li></ul></button>
<button type="button" class="mint dropdown"><span>Dropdown</span><i class="fa fa-caret-down"></i><ul><li>Test</li><li>Test</li></ul></button>
<button type="button" class="aqua dropdown"><span>Dropdown</span><i class="fa fa-caret-down"></i><ul><li>Test</li><li>Test</li></ul></button>
<button type="button" class="blue dropdown"><span>Dropdown</span><i class="fa fa-caret-down"></i><ul><li>Test</li><li>Test</li></ul></button>
<button type="button" class="purple dropdown"><span>Dropdown</span><i class="fa fa-caret-down"></i><ul><li>Test</li><li>Test</li></ul></button>
<button type="button" class="pink dropdown"><span>Dropdown</span><i class="fa fa-caret-down"></i><ul><li>Test</li><li>Test</li></ul></button>
<button type="button" class="grey dropdown"><span>Dropdown</span><i class="fa fa-caret-down"></i><ul><li>Test</li><li>Test</li></ul></button>
<hr/>-->
<br><br><hr/>