<action-bar></action-bar>
<sub-nav></sub-nav>
<div class="test">
  <h5>Billllly {{food.model.activity.mode}}</h5>
  <div id="food-table" ng-class="{'edit':food.model.activity.mode=='edit'}">
    <div id="food-table-left">
      <div class="stretcher">
        <div  class="meal-wrapper"
              ng-repeat="meal in food.model.obj"
              ng-class="{'empty':!meal.children.length,'selected':meal.selected}">
          <div class="meal" ng-click="food.api.toggleSelect(meal)">
            <button type="button" ng-click="meal.closed = !meal.closed"><i ng-class="{'fa-chevron-right': meal.closed, 'fa-chevron-down': !meal.closed}" class="fa"></i></button>
            <span>{{meal.name}}</span>
          </div>
          <div class="contents" ng-show="!meal.closed||food.model.activity.mode=='edit'">
            <div ng-repeat="child in meal.children">

              <div  ng-if="child.type==1"
                    class="food-wrapper"
                    ng-class="{'empty': !child.children.length,'selected':child.selected}">
                <div class="food" ng-click="food.api.toggleSelect(child)">
                  <button type="button" ng-click="child.closed = !child.closed"><i ng-class="{'fa-chevron-right': child.closed, 'fa-chevron-down': !child.closed}" class="fa"></i></button>
                  <span>{{child.name}}</span>
                </div>
                <div class="contents" ng-show="!child.closed||food.model.activity.mode=='edit'">

                  <div  ng-repeat="ingrChild in child.children"
                        class="ingr"
                        ng-class="{'selected':ingrChild.selected}"
                        ng-click="food.api.toggleSelect(ingrChild)">
                    <span class="name">{{ingrChild.name}}</span>
                    <div>
                      <span class="brand">{{ingrChild.brand}}</span>
                      <span class="servings">{{ingrChild.servings}}</span>
                    </div>
                  </div>
                </div>
              </div>

              <div  ng-if="child.type==2"
                    class="ingr"
                    ng-class="{'selected':child.selected}"
                    ng-click="food.api.toggleSelect(child)">
                <span class="name">{{child.name}}</span>
                <div>
                  <span class="brand">{{child.brand}}</span>
                  <span class="servings">{{child.servings}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="food-table-right" ng-if="food.model.activity.mode!='edit'">
      <div class="stretcher">
        <div  class="meal-wrapper"
              ng-repeat="meal in food.model.obj"
              ng-class="{'empty':!meal.children.length}">
          <div class="meal">
            <div ng-repeat="val in meal.nutrition">{{val}}</div>
          </div>
          <div class="contents" ng-show="!meal.closed">
            <div ng-repeat="child in meal.children">
              <div  ng-if="child.type==1"
                    class="food-wrapper"
                    ng-class="{empty: child.children.length==0}">
                <div class="food">
                  <div ng-repeat="val in child.nutrition">{{val}}</div>
                </div>
                <div class="contents" ng-show="!child.closed">
                  <div  ng-repeat="ingrObj in child.children"
                        class="ingr">
                    <div ng-repeat="val in ingrObj.nutrition">{{val}}</div>
                  </div>
                </div>
              </div>
              <div  ng-if="child.type==2"
                    class="ingr">
                <div ng-repeat="val in child.nutrition">{{val}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>